@import "null";

// ================================================================================================
// Variables
// ================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1400px;
$maxWidthMobileViewContainer: 767px;
// ================================================================================================
// Breakpoints
// ================================================================================================
// $md1: math.div($maxWidthContainer, 16) + em; // PC, laptops & some tablets in landscape mode
$md1: 1400; // PC, laptops & some tablets in landscape mode
$md2: 991.98; // Tablets & some phones in landscape mode
$md3: 767.98; // Phones L
$md4: 479.98; // Phones S
// ================================================================================================
// Font main color
// ================================================================================================
$mainColor: #17181D;
// ================================================================================================
// Secondary color
// ================================================================================================
$secondaryColor: #bb2649;
// ================================================================================================
// Additional background color
// ================================================================================================
$lightBgColor: #9B9B9B;

// ================================================================================================
// PC-styling
// ================================================================================================