@import "null";
@import "fonts";
@import "responsive";

// ================================================================================================
// Variables
// ================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1300px;
$maxWidthMobileViewContainer: 767px;
// ================================================================================================
// Breakpoints
// ================================================================================================
// $md1: math.div($maxWidthContainer, 16) + em; // PC, laptops & some tablets in landscape mode
$md1: 1440px; // PC, laptops & some tablets in landscape mode
$md2: 991.98px; // Tablets & some phones in landscape mode
$md3: 767.98px; // Phones L
$md4: 479.98px; // Phones S
// ================================================================================================
// Font main color
// ================================================================================================
$mainColor: #FFFFFF;
// ================================================================================================
// Secondary color
// ================================================================================================
$headerBgColor: #000000;
// ================================================================================================
// Additional colors
// ================================================================================================
$linkColor: #FF4E20;

// ================================================================================================
// PC-styling
// ================================================================================================
body {
	background-color: $mainColor;
}

.wrapper {}