@font-face {
	font-family: Poppins-Bold;
	font-display: swap;
	src: ulr("../fonts/Poppins-Bold.woff2") format("woff2"),ulr("../fonts/Poppins-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Poppins-Medium;
	font-display: swap;
	src: ulr("../fonts/Poppins-Medium.woff2") format("woff2"),ulr("../fonts/Poppins-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Poppins-SemiBold;
	font-display: swap;
	src: ulr("../fonts/Poppins-SemiBold.woff2") format("woff2"),ulr("../fonts/Poppins-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Poppins-Regular;
	font-display: swap;
	src: ulr("../fonts/Poppins-Regular.woff2") format("woff2"),ulr("../fonts/Poppins-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins-Light;
	font-display: swap;
	src: ulr("../fonts/Poppins-Light.woff2") format("woff2"),ulr("../fonts/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
